<div class="col s12 tag-div">
  <div class="center-align">
    <img class="hoverable z-depth-1" src="{{site.baseurl}}/assets/res/RR.JPG" width="70%">
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">Trabajamos en <span id="js-rotating">el futuro que queremos, proyectos sociales, ciencia y tecnología, educación tecnológica</span>...</h4>
  </div>
  <div class="user-content">
    <p>
      El desarrollo científico y tecnológico avanza a pasos agigantados y no podemos quedarnos atrás. Es imprescindible la adquisición de conocimiento, herramientas y habilidades que nos permitan adaptarnos a esta evolución. Las nuevas de tecnologías como la IA (<i>Inteligencia Artificial</i>) continúan haciéndose más presentes, siendo necesaria una base científico-tecnológica para la comprensión y desarrollo de las mismas.
    </p>
    <p>
      Somos un grupo de estudiantes donde:
    </p>
    <ul>
      <li>
        Desarrollamos proyectos de base científico-tecnológica que ayudan a la sociedad. Para ello, necesitamos constantemente hacer un <i>update</i> de nuestros conocimientos y habilidades.
      </li>
      <li>
        Enseñamos a otros estudiante cómo programar, sin importar lo que estudien; trabajamos constantemente en talleres para diferentes programas académicos en nuestra universidad. <b>Esto es posible gracias a las colaboraciones con otros grupos estudiantiles.</b>
      </li>
      <li>
        Logramos el acercamiento del desarrollo tecnológico en diferentes nivels, a través de charlas y conferencias, mentoreo de proyectos y asesoramiento.
      </li>
    </ul>
  </div>
</div>
