<div class="col s12 tag-div">
  <div class="center-align">
    <img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/flab2.png" width="40%">
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">¡Bienvenid@ <span id="js-rotating">al futuro, a future·lab</span>!</h4>
  </div>
  <div class="user-content">
    <p>
      Bienvenid@ a <i>future·lab</i>.
    </p>
    <p>
      Buscamos desarrollar proyectos tecnológicos que mejoren la calidad de vida, lograr el acercamiento de tecnologías a diferentes niveles sociales y de igual manera aportar a la educación tecnológica. ¿Tú que esperas para trabajar en el futuro que tanto necesitamos? Si deseas saber más sobre nosotros, visita nuestra sección <a href="{{site.baseurl}}/about">Acerca de</a>. Si deseas contactarnos, la sección indicada es la de <a href="{{site.baseurl}}/contact">Contacto</a>. De cualquier forma, siéntete libre de conocer lo que hacemos navegando en este sitio.
    </p>
    <p>
      A continuación encontrarás una serie de posts con noticias para compartirte, donde describimos proyectos en los que trabajamos, eventos a los que asistimos o que preparamos para ti, y muchas cosas más:
    </p>
  </div>
</div>
